In [1]:
import numpy as np
import pandas as pd

### Fold 5

In [2]:
p_labels = [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1]
t_labels = [1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0]

In [10]:
count = 0
for index, (f,s) in enumerate(zip(p_labels,t_labels)):
    if f!=s:
        print(index+1, f, s)
        count += 1
        
print("\nCount:", count)
print("Test length:", len(p_labels))

4 1 0
7 1 0
10 1 0
18 0 1
27 1 0
31 1 0
33 1 0
34 1 0
42 1 0
47 1 0
53 1 0
55 1 0
64 1 0
68 1 0
69 1 0

Count: 15
Test length: 69

### Avg

In [22]:
p1 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p2 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p3 = [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p4 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p5 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
t = [1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]

In [23]:
p = np.array([p1,p2,p3,p4,p5])
print(np.average(p,axis=0))

[1.  1.  1.  1.  1.  1.  0.4 0.8 1.  1.  1.  1.  1.  1.  1.  1.  1.  0.8
 0.8 1.  1.  1.  0.4 1.  1.  1.  1.  1.  1.  0.  0.4 1.  1.  0.  1.  1.
 0.4 1.  1.  1.  1.  1.  1.  0.2 0.2 1.  1.  1.  0.6 0.  1.  1.  1.  1.
 1.  0.2 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. ]

In [24]:
p_avg = np.average(p,axis=0)

for i in range(len(p_avg)):
    if p_avg[i]>=0.5:
        p_avg[i]=1
    else:
        p_avg[i]=0

In [26]:
for i in range(len(p_avg)):
    print(i+2,"\t", int(p_avg[i]),"\t", t[i])

2 	 1 	 1
3 	 1 	 1
4 	 1 	 1
5 	 1 	 0
6 	 1 	 1
7 	 1 	 1
8 	 0 	 0
9 	 1 	 0
10 	 1 	 1
11 	 1 	 0
12 	 1 	 1
13 	 1 	 0
14 	 1 	 1
15 	 1 	 1
16 	 1 	 1
17 	 1 	 1
18 	 1 	 1
19 	 1 	 0
20 	 1 	 0
21 	 1 	 0
22 	 1 	 1
23 	 1 	 1
24 	 0 	 0
25 	 1 	 1
26 	 1 	 1
27 	 1 	 1
28 	 1 	 0
29 	 1 	 0
30 	 1 	 0
31 	 0 	 0
32 	 0 	 0
33 	 1 	 1
34 	 1 	 0
35 	 0 	 0
36 	 1 	 1
37 	 1 	 1
38 	 0 	 1
39 	 1 	 1
40 	 1 	 1
41 	 1 	 1
42 	 1 	 1
43 	 1 	 1
44 	 1 	 1
45 	 0 	 0
46 	 0 	 0
47 	 1 	 1
48 	 1 	 1
49 	 1 	 1
50 	 1 	 0
51 	 0 	 0
52 	 1 	 1
53 	 1 	 1
54 	 1 	 1
55 	 1 	 1
56 	 1 	 1
57 	 0 	 0
58 	 1 	 1
59 	 1 	 1
60 	 1 	 1
61 	 1 	 1
62 	 1 	 1
63 	 1 	 1
64 	 1 	 1
65 	 1 	 1
66 	 1 	 1
67 	 1 	 1
68 	 1 	 1
69 	 1 	 1
70 	 1 	 0
71 	 1 	 0

In [27]:
print(sum(t))
print(sum(p_avg))

47
60.0

In [11]:
url_test = "https://github.com/ahlraf/btp-transfer-learning/raw/master/experiment-9/eval_precision/test_1_predicted_labels.csv"

In [12]:
df_test = pd.read_csv(url_test, header="infer", skip_blank_lines=True, encoding="utf-8")
print(df_test.head())

   index                                               text  plabel_1  \
0      1  I take lamictal and olanzapine, until recently...         1
1      2  I feel like I have to be the prettiest girl my...         1
2      3  For the last year I feel like b/p is just a re...         1
3      4  this probably sounds weird but i've been petri...         1
4      5  My life has been in a downward spiral for at l...         1

   tlabel_1  tlabel_2  Unnamed: 5 Unnamed: 6
0         1         1         NaN        NaN
1         0         0         NaN        NaN
2         1         0         NaN        NaN
3         0         0         NaN        NaN
4         1         1         NaN        NaN

In [13]:
len(df_test)

70

In [14]:
df_test_DS = df_test.loc[df_test["plabel_1"]==1]

In [15]:
df_test_DS

,index,text,plabel_1,tlabel_1,tlabel_2,Unnamed: 5,Unnamed: 6
0,1,"I take lamictal and olanzapine, until recently...",1,1,1,NaN,NaN
1,2,I feel like I have to be the prettiest girl my...,1,0,0,NaN,NaN
2,3,For the last year I feel like b/p is just a re...,1,1,0,NaN,NaN
3,4,this probably sounds weird but i've been petri...,1,0,0,NaN,NaN
4,5,My life has been in a downward spiral for at l...,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...
65,66,This whole thing started with trying to loose ...,1,1,1,NaN,NaN
66,67,I'm 35 and I just recently attempted suicide a...,1,1,1,NaN,NaN
67,68,I was on antipsychotics and antidepressants fo...,1,0,0,NaN,NaN
68,69,So to put it shorts I've been going through an...,1,0,0,NaN,a
69,70,I finally found something that works well to q...,1,1,0,NaN,NaN

In [17]:
df_test_DS.dropna(axis=0, how="any", inplace=True)
df_test_DS.sample(frac=1).reset_index(drop=True)
df_test_DS1 = df_test_DS[["text","tlabel_2"]]

In [18]:
df_test_DS1 = df_test_DS1.rename(columns={"tlabel_2":"label"})
print(df_test_DS1.head())

                                                text  label
0  I constantly have thoughts of just dying or no...      1
1  I feel so awful all the time. Always worried a...      1
2  People always want to talk to me when I am ups...      1
3  I quit vomiting because I was forced to  I was...      0
4  I take lamictal and olanzapine, until recently...      1

In [ ]:
print("Original test count:", df_test_DS1['label'].value_counts(normalize=False))

In [ ]:
df_test1 = df_test[["text","tlabel"]]
# print(df_test1.head())

df_test1 = df_test1.rename(columns={"text_post":"text","label_a":"label"})
print(df_test1.head())

In [28]:
url_test = "https://github.com/ahlraf/btp-transfer-learning/raw/master/experiment-9/eval_precision/test_1_predicted_labels.csv"

df_test = pd.read_csv(url_test, header="infer", skip_blank_lines=True, encoding="utf-8")
# print(df_test.head())

# isolating D/S from control
df_test_DS = df_test.loc[df_test["plabel_1"]==1]
df_test_DS.dropna(axis=0, how="any", inplace=True)
df_test_DS.sample(frac=1).reset_index(drop=True)
df_test_DS1 = df_test_DS[["text","tlabel_2"]]
df_test_DS1 = df_test_DS1.rename(columns={"tlabel_2":"label"})
print("\nHead test\n",df_test_DS1.head())
print("nOriginal test count:\n", df_test_DS1['label'].value_counts(normalize=False))

\Head test
                                                 text  label
0  I don't know how to function in this world any...      1
1  If something woould happen to me, noone would ...      0
2  For the last year I feel like b/p is just a re...      0
3  this probably sounds weird but i’ve been petri...      0
4  I just feel so completely and utterly sad. I c...      0
nOriginal test count:
 0    33
1    27
Name: label, dtype: int64

C:\Users\Ahlaam\AppData\Local\Temp/ipykernel_11856/2548121419.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_DS.dropna(axis=0, how="any", inplace=True)

In [29]:
df_test

,text,plabel_1,tlabel_1,tlabel_2
0,I don't know how to function in this world any...,1,1,1
1,"If something woould happen to me, noone would ...",1,1,0
2,For the last year I feel like b/p is just a re...,1,1,0
3,this probably sounds weird but i’ve been petri...,1,0,0
4,I just feel so completely and utterly sad. I c...,1,1,0
...,...,...,...,...
65,I recently had a 4 day hypomanic episode. Now ...,1,1,1
66,How to stop feeling sad and empty all the time...,1,1,0
67,I’ve had anxiety and panic attacks since I was...,1,1,1
68,I was on antipsychotics and antidepressants fo...,1,0,0
69,I don't know what to call this. But after a lo...,1,0,0

In [31]:
len(df_test[df_test.plabel_1!=0])

60

In [32]:
df_test = df_test[df_test.plabel_1!=0]

In [33]:
df_test

,text,plabel_1,tlabel_1,tlabel_2
0,I don't know how to function in this world any...,1,1,1
1,"If something woould happen to me, noone would ...",1,1,0
2,For the last year I feel like b/p is just a re...,1,1,0
3,this probably sounds weird but i’ve been petri...,1,0,0
4,I just feel so completely and utterly sad. I c...,1,1,0
5,I've been trying to get a job for months now. ...,1,1,0
7,"I’ve had a best friend for 4 years now, we did...",1,0,0
8,I’m so desperate. I wish I had the courage to ...,1,1,1
9,You aren’t your thoughts. You just experience ...,1,0,0
10,Basically what the title says. I just feel sad...,1,1,0
11,My therapist that I’ve been seeing for the pas...,1,0,0
12,Lately I’ve been thinking about things before ...,1,1,1
13,recently i had a 9 day manic episode and that ...,1,1,1
14,I’m 35 and I just recently attempted suicide a...,1,1,1
15,"Idk man, I'm just depressed right now. I feel ...",1,1,0
16,How do you keep going? I've never felt this lo...,1,1,1
17,So to put it shorts I’ve been going through an...,1,0,0
18,I quit vomiting because I was forced to… I was...,1,0,0
19,When my husband and I first got together I was...,1,0,0
20,I constantly have thoughts of just dying or no...,1,1,1
21,"I am struggling lately, mostly with anxiety bu...",1,1,0
23,"i was doing well there for a few days, i was d...",1,1,1
24,I almost can’t believe my eyes reading all you...,1,1,1
25,I have complex ptsd alongside with dissociativ...,1,1,1
26,I feel like I have to be the prettiest girl my...,1,0,0
27,I think I scratched my throat and hurts really...,1,0,0
28,Theres this guy in my area with schizophrenia....,1,0,0
31,I feel so lonely. This new diagnosis has made ...,1,1,0
32,I think I scratched my throat and hurts really...,1,0,0
34,I got in an argument with my girlfriend. My av...,1,1,0
35,"Genuinely need an answer, I find no real joy i...",1,1,1
37,everyday I wake up is such a struggle I can’t ...,1,1,1
38,"I've been dealing with anxiety, depression and...",1,1,1
39,"I binged, vomited, and took the most amount of...",1,1,0
40,My life is a living hell. I’m always suffering...,1,1,1
41,I've been fronting for a day and a half and I ...,1,1,1
42,My life has been in a downward spiral for at l...,1,1,1
45,i’m mostly just complaining here but it is so ...,1,1,0
46,ive been here hundreds of times and yet it sti...,1,1,1
47,Is there anyone else here who experiences fugu...,1,1,0
48,I tend to go back and forth between thinking I...,1,0,0
50,"There are so many boxes to be checked, so many...",1,1,1
51,I finally found something that works well to q...,1,1,0
52,People always want to talk to me when I am ups...,1,1,1
53,I feel uncomfortable living in my mind. I feel...,1,1,0
54,"I've become reclusive again like before, I've ...",1,1,0
56,This whole thing started with trying to loose ...,1,1,1
57,Feeling incredibly lonely and really depressed...,1,1,0
58,"I take lamictal and olanzapine, until recently...",1,1,1
59,"I really don't enjoy anything, so I'm just wai...",1,1,1
60,I’m desperate. Have zero motivation to change ...,1,1,1
61,Living with BPD really sucks when …you don’t r...,1,1,0
62,"Everything I am is wrong. Everything I do, fee...",1,1,1
63,Does anyone else feel this way? I feel like no...,1,1,0
64,I feel so awful all the time. Always worried a...,1,1,1
65,I recently had a 4 day hypomanic episode. Now ...,1,1,1
66,How to stop feeling sad and empty all the time...,1,1,0
67,I’ve had anxiety and panic attacks since I was...,1,1,1
68,I was on antipsychotics and antidepressants fo...,1,0,0
69,I don't know what to call this. But after a lo...,1,0,0

### task 2

In [2]:
p1 = [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0]
p2 = [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]
p3 = [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1]
p4 = [0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0]
p5 = [0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0]
t = [1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0]

In [3]:
p = np.array([p1,p2,p3,p4,p5])
print(np.average(p,axis=0))

[0.4 0.4 0.  0.6 0.2 0.  0.  1.  0.  0.  0.  0.  0.  0.6 0.6 1.  0.  0.2
 0.  0.  0.  0.  0.2 0.  0.  0.2 0.  0.  0.2 0.  0.8 1.  0.2 0.  1.  1.
 1.  0.  0.6 1.  0.  0.  0.4 0.4 0.  0.  0.6 0.  1.  1.  0.6 0.  1.  0.8
 1.  0.  0.  0.  0.  0.2]

In [4]:
p_avg = np.average(p,axis=0)

for i in range(len(p_avg)):
    if p_avg[i]>=0.5:
        p_avg[i]=1
    else:
        p_avg[i]=0

In [5]:
for i in range(len(p_avg)):
    print(i+1,"\t", int(p_avg[i]),"\t", t[i])

1 	 0 	 1
2 	 0 	 0
3 	 0 	 0
4 	 1 	 0
5 	 0 	 0
6 	 0 	 0
7 	 0 	 0
8 	 1 	 1
9 	 0 	 0
10 	 0 	 0
11 	 0 	 0
12 	 0 	 1
13 	 0 	 1
14 	 1 	 1
15 	 1 	 0
16 	 1 	 1
17 	 0 	 0
18 	 0 	 0
19 	 0 	 0
20 	 0 	 1
21 	 0 	 0
22 	 0 	 1
23 	 0 	 1
24 	 0 	 1
25 	 0 	 0
26 	 0 	 0
27 	 0 	 0
28 	 0 	 0
29 	 0 	 0
30 	 0 	 0
31 	 1 	 1
32 	 1 	 1
33 	 0 	 1
34 	 0 	 0
35 	 1 	 1
36 	 1 	 1
37 	 1 	 1
38 	 0 	 0
39 	 1 	 1
40 	 1 	 0
41 	 0 	 0
42 	 0 	 1
43 	 0 	 0
44 	 0 	 1
45 	 0 	 0
46 	 0 	 0
47 	 1 	 1
48 	 0 	 0
49 	 1 	 1
50 	 1 	 1
51 	 1 	 1
52 	 0 	 0
53 	 1 	 1
54 	 1 	 0
55 	 1 	 1
56 	 0 	 1
57 	 0 	 0
58 	 0 	 1
59 	 0 	 0
60 	 0 	 0

### task 2