In [19]:
import numpy as np
import pandas as pd

### Fold 5

In [2]:
p_labels = [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1]
t_labels = [1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0]

In [10]:
count = 0
for index, (f,s) in enumerate(zip(p_labels,t_labels)):
    if f!=s:
        print(index+1, f, s)
        count += 1
        
print("\nCount:", count)
print("Test length:", len(p_labels))

4 1 0
7 1 0
10 1 0
18 0 1
27 1 0
31 1 0
33 1 0
34 1 0
42 1 0
47 1 0
53 1 0
55 1 0
64 1 0
68 1 0
69 1 0

Count: 15
Test length: 69

### Avg

In [22]:
p1 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p2 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p3 = [1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p4 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
p5 = [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
t = [1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]

In [23]:
p = np.array([p1,p2,p3,p4,p5])
print(np.average(p,axis=0))

[1.  1.  1.  1.  1.  1.  0.4 0.8 1.  1.  1.  1.  1.  1.  1.  1.  1.  0.8
 0.8 1.  1.  1.  0.4 1.  1.  1.  1.  1.  1.  0.  0.4 1.  1.  0.  1.  1.
 0.4 1.  1.  1.  1.  1.  1.  0.2 0.2 1.  1.  1.  0.6 0.  1.  1.  1.  1.
 1.  0.2 1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. ]

In [24]:
p_avg = np.average(p,axis=0)

for i in range(len(p_avg)):
    if p_avg[i]>=0.5:
        p_avg[i]=1
    else:
        p_avg[i]=0

In [26]:
for i in range(len(p_avg)):
    print(i+2,"\t", int(p_avg[i]),"\t", t[i])

2 	 1 	 1
3 	 1 	 1
4 	 1 	 1
5 	 1 	 0
6 	 1 	 1
7 	 1 	 1
8 	 0 	 0
9 	 1 	 0
10 	 1 	 1
11 	 1 	 0
12 	 1 	 1
13 	 1 	 0
14 	 1 	 1
15 	 1 	 1
16 	 1 	 1
17 	 1 	 1
18 	 1 	 1
19 	 1 	 0
20 	 1 	 0
21 	 1 	 0
22 	 1 	 1
23 	 1 	 1
24 	 0 	 0
25 	 1 	 1
26 	 1 	 1
27 	 1 	 1
28 	 1 	 0
29 	 1 	 0
30 	 1 	 0
31 	 0 	 0
32 	 0 	 0
33 	 1 	 1
34 	 1 	 0
35 	 0 	 0
36 	 1 	 1
37 	 1 	 1
38 	 0 	 1
39 	 1 	 1
40 	 1 	 1
41 	 1 	 1
42 	 1 	 1
43 	 1 	 1
44 	 1 	 1
45 	 0 	 0
46 	 0 	 0
47 	 1 	 1
48 	 1 	 1
49 	 1 	 1
50 	 1 	 0
51 	 0 	 0
52 	 1 	 1
53 	 1 	 1
54 	 1 	 1
55 	 1 	 1
56 	 1 	 1
57 	 0 	 0
58 	 1 	 1
59 	 1 	 1
60 	 1 	 1
61 	 1 	 1
62 	 1 	 1
63 	 1 	 1
64 	 1 	 1
65 	 1 	 1
66 	 1 	 1
67 	 1 	 1
68 	 1 	 1
69 	 1 	 1
70 	 1 	 0
71 	 1 	 0

In [27]:
print(sum(t))
print(sum(p_avg))

47
60.0

In [11]:
url_test = "https://github.com/ahlraf/btp-transfer-learning/raw/master/experiment-9/eval_precision/test_1_predicted_labels.csv"

In [12]:
df_test = pd.read_csv(url_test, header="infer", skip_blank_lines=True, encoding="utf-8")
print(df_test.head())

   index                                               text  plabel_1  \
0      1  I take lamictal and olanzapine, until recently...         1
1      2  I feel like I have to be the prettiest girl my...         1
2      3  For the last year I feel like b/p is just a re...         1
3      4  this probably sounds weird but i've been petri...         1
4      5  My life has been in a downward spiral for at l...         1

   tlabel_1  tlabel_2  Unnamed: 5 Unnamed: 6
0         1         1         NaN        NaN
1         0         0         NaN        NaN
2         1         0         NaN        NaN
3         0         0         NaN        NaN
4         1         1         NaN        NaN

In [13]:
len(df_test)

70

In [14]:
df_test_DS = df_test.loc[df_test["plabel_1"]==1]

In [15]:
df_test_DS

,index,text,plabel_1,tlabel_1,tlabel_2,Unnamed: 5,Unnamed: 6
0,1,"I take lamictal and olanzapine, until recently...",1,1,1,NaN,NaN
1,2,I feel like I have to be the prettiest girl my...,1,0,0,NaN,NaN
2,3,For the last year I feel like b/p is just a re...,1,1,0,NaN,NaN
3,4,this probably sounds weird but i've been petri...,1,0,0,NaN,NaN
4,5,My life has been in a downward spiral for at l...,1,1,1,NaN,NaN
...,...,...,...,...,...,...,...
65,66,This whole thing started with trying to loose ...,1,1,1,NaN,NaN
66,67,I'm 35 and I just recently attempted suicide a...,1,1,1,NaN,NaN
67,68,I was on antipsychotics and antidepressants fo...,1,0,0,NaN,NaN
68,69,So to put it shorts I've been going through an...,1,0,0,NaN,a
69,70,I finally found something that works well to q...,1,1,0,NaN,NaN

In [17]:
df_test_DS.dropna(axis=0, how="any", inplace=True)
df_test_DS.sample(frac=1).reset_index(drop=True)
df_test_DS1 = df_test_DS[["text","tlabel_2"]]

In [18]:
df_test_DS1 = df_test_DS1.rename(columns={"tlabel_2":"label"})
print(df_test_DS1.head())

                                                text  label
0  I constantly have thoughts of just dying or no...      1
1  I feel so awful all the time. Always worried a...      1
2  People always want to talk to me when I am ups...      1
3  I quit vomiting because I was forced to  I was...      0
4  I take lamictal and olanzapine, until recently...      1

In [ ]:
print("Original test count:", df_test_DS1['label'].value_counts(normalize=False))

In [ ]:
df_test1 = df_test[["text","tlabel"]]
# print(df_test1.head())

df_test1 = df_test1.rename(columns={"text_post":"text","label_a":"label"})
print(df_test1.head())